body {
	background-image:  url('/img/bg_noise.png');
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #333;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	color: #4096ee;
	font-weight: normal;
	font-size: 44px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #4096ee;
	font-size: 26px;
	font-weight: 400;
}

input  {
	font-size: 20px;
	height:30px;
	width:160px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	position: relative;
	border:1px solid #C0C0C0;
	padding:4px;
	color:#333;
}

input[type="submit"] {
	width: 180px;
	height: 40px;
	text-align: center;
	color: white;
	border: none;
	cursor:pointer;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
} input[type="submit"]:hover {   
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#416c97), color-stop(44%,#206c95), color-stop(100%,#005887)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #416c97 0%,#316a97 44%,#316986 100%); /* Chrome10+,Safari5.1+ */
} input[type="submit"]:active {
	transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form {
	margin-bottom: 0px;
}

span {
	font-size: 20px;
}

table {
	font-size: 20px;
	table-layout: fixed;
}

td {
	padding-right: 30px;
	white-space:nowrap;
}

.button {
	width: 180px;
	height: 40px;
	text-align: center;
	color: white;
	border: none;
	cursor:pointer;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
} .button:hover {   
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#416c97), color-stop(44%,#206c95), color-stop(100%,#005887)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #416c97 0%,#316a97 44%,#316986 100%); /* Chrome10+,Safari5.1+ */
} .button:active {
	transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

select {
	height: 30px;
	width: 180px;
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	border: 1px solid #C0C0C0;
	color: #333;
}

option {
	font-weight: 300;
}

textarea {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	position: relative;
	border:1px solid #C0C0C0;
	color: #333;
	padding: 8px;
	margin-left: -1px;
}

ul{
	list-style-type:none;
	width:630px;
	margin: 0 auto;
	font-size: 18px;
	color: #333;
} li {
	line-height: 120%;
	margin: 10px 0 0 0;
	padding: 0 10px 0 0;
	width:199px;
}

/* Cat Profile */

#title {
	position: relative;
	top: 400px;
	left: 0px;
	height: 100px;
	width: 100%;
	text-align: center;
}

#title_left {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 680px;
	text-align: center;
}

#title_right {
	position: relative;
	top: 0px;
	left: 600px;
	height: 100px;
	width: 660px;
}

#print_cat_btn {
	position: relative;
	float: right;
}

#db_title_left {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 600px;
}

#db_title_right {
	position: absolute;
	top: 0px;
	left: 600px;
	height: 100px;
	width: 660px;
}

#profile_name {
	position: relative;
	width: 100%;
	top: 420px;
	font-size: 56px;
	text-align: center;
}

#wrapper {
	position: relative;
	top: 300px;
	left: 0;
	max-width: 1260px;
	margin: 0 auto;
	display: block;
}

#container_left {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 630px;
	display: inline-block;
}

#container_right {
	position: absolute;
	top: 100px;
	left: 630px;
	width: 630px;
	display: inline-block;
}

#db_container_left {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 600px;
}

#db_container_right {
	position: absolute;
	top: 100px;
	left: 600px;
	width: 660px;
}

.profile_div {
	width: 570px;
	border: 1px solid #C0C0C0;
	display: block;
	position: relative;
	margin: 0 30px;
	margin-bottom: 50px;
	box-shadow: rgba(0,0,0,.2) 0 2px 16px;
	background-color: white;
}

.profile_div_header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	padding: 20px;
}

.profile_paw {
	width: 40px;
	height: 40px;
	display: inline;
}

.div_title {
	position: relative;
	display: inline;
	bottom: 10px;
	white-space:nowrap;
	font-family: 'Shadows Into Light', cursive;
	font-size: 28px;
	margin-left: 10px;
}

.profile_div_content {
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px;
}

#scanned_documents_div {
	height: 272px;
}

#scanned_documents_content {
	height: 190px;
}

#scanned_docs {
	width: 300px;
	height: 150px;
	display: inline-block;

}

.scan_box {
	height: 70px;
	width: 56px;
	margin: 2px;
	float: left;
	background-color: #416c97;
}

.scanned_thumb {
	height: 70px;
	width: 56px;
	position: relative;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
} .scanned_thumb:hover {
	opacity: .5;
} .scanned_thumb:active {
	transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

.profile_scan_explorer {
	z-index: 2;
	position: absolute;
	right: 20px;
	height: 40px;
	width: 180px;
	font-size: 12px;
}

#profile_photo_div {
	padding: 0px;
	margin-top: 0px;
	height: 421px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgba(0,0,0,.4) 0 3px 16px;
} #profile_photo_div:hover .icon {
	opacity: 1;
}

.icon {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 248px;
	bottom: 30px;
	background-image: url('/img/camera.png');
	margin: 0 auto;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	z-index: 1;
	opacity: 0;
} .icon:hover {
	background-image: url('/img/camera_hover.png');
	cursor: pointer;
} .icon:active {
	transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

.profile_label {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	vertical-align: top;
}

.login_label {
	position: relative;
	display: inline-block;
	width: 190px;
	height: 30px;
	margin-bottom: 10px;
}

.treatment_list {
	border: 1px solid #C0C0C0;
	width: 640px;
	padding: 30px;
	padding-top: 40px;
	line-height: 130%;
	margin-bottom: 260px;
}

.profile_div span {
	background-image: none;
}

#name_input {
	width: 180px;
}

#age_input {
	width: 40px;
}

#age_select {
	width: 120px;
	position: relative;
	top: 1px;
	left: 14px;
}

.profile_submit,
#foster_toggle,
#dob {
	width: 180px;
	position: relative;
	float: right;
}

.hidden {
	visibility: hidden;
}

#notes {
	width: 384px;
}

#datepicker {
	width: 180px;
}

#document_overlay,
#overlay {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
	
}

#overlay_content {
	background-color: white;
	width:80%;
	height:80%;
	top: 1px;
	position: relative;
	box-shadow: rgba(0,0,0,.2) 0 4px 16px;
	border: 1px solid #c0c0c0;
	margin: auto;
	z-index: 1001;
	padding: 40px;
}

#document_overlay_img {
	height:	100%;
}

#overlay_close {
	position: absolute;
	z-index: 1002;
	bottom: 40px;
	left: 40px;
}

.overlay_photo {
	background-color: blue;
	height: 200px;
	margin-right: 10px;
	border: 1px solid #c0c0c0;
	float: left;
	z-index: 1002;
}

.selected {
	border: 5px solid #76b7f9;
}

/* Cat List */

#container {
	position: absolute;
	top: 140px;
	left: 180px;
	max-width: 1080px;
}

#nav_left {
	position: absolute;
	top: 140px;
	left: 0px;
	width: 180px;
}

.location_box {
	width: 150px;
	font-size: 22px;
	border: 1px solid #c0c0c0;
	padding: 10px;
	margin: 5px auto;
}

.location {
	height: 40px;
}

.toggle {
	background-image: url('/img/check.png');
	width: 24px;
	height: 24px;
	display: inline-block;
	float: right;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
} .toggle:active {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}

.check {
	background-image: url('/img/check.png');
} .check:hover {
	background-image: url('/img/check_hover.png');
}

.check_received {
	background-image: url('/img/check_received.png');
}

.uncheck {
	background-image: url('/img/uncheck.png');
} .uncheck:hover {
	background-image: url('/img/uncheck_hover.png');
}

.uncheck_received {
	background-image: url('/img/uncheck_received.png');
}

.x {
	background-image: url('/img/x.png');
} .x:hover {
	background-image: url('/img/x_hover.png');
}

.x_received {
	background-image: url('/img/x_received.png');
}

#new_cat_button {
	width: 150px;
	top: 20px;
	left: 15px;
}

.cat_box {
	height: 180px;
	width: 208px;
	margin: 4px;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #416c97;
	border: 1px solid #c0c0c0;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
} .cat_box:hover .cat {
	cursor: pointer;
	opacity:0.7;
} .cat_box:hover .list_overlay {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#416c97), color-stop(44%,#206c95), color-stop(100%,#005887)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #416c97 0%,#316a97 44%,#316986 100%); /* Chrome10+,Safari5.1+ */
} .cat_box:active {
	box-shadow: rgba(0,0,0,.3) 0 6px 16px;
	transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
}

.cat {
	height: 140px;
	width: 206px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0px;
	position: relative;
	opacity: 1;
	box-shadow: rgba(0,0,0,.3) 0 4px 12px;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}

.list_overlay {
	width:206px;
	height:40px;
	color:white;
	position: relative;
	top: 0px;
	left: 0px;
	font-family: 'Shadows Into Light', cursive;
	font-size:26px;
	text-align: center;
	background: #60abf8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

/* Used in cat list to toogle display of cats based on location */
.Foster { display: inline-block; }
.PetSmart { display: inline-block; }
.Adopted { display: none; }
.Limbo { display: inline-block; }

/* Dashboard */

#petsmart_label {
	position: relative;
	text-align: center;
}

#foster_label {
	position: relative;
	text-align: center;
}

.dashboard_treatments {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 100px;
}

.db_petsmart {
	margin-left: 40px;
	width: 500px;
}

.db_foster {
	width: 600px;
}

.treatment_row {
	height: 30px;
	margin-left: 20px;
}

.profile_treatment_text {
	display: inline-block;
	width: 410px;
	height: 24px;
}

.cat_name {
	color: #76b7f9;
	width: 140px;
	display: inline-block;
	margin: 0 10px;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
} .cat_name:hover {
	color: #416c97;
	cursor: pointer;
} .cat_name:active {
	transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
}

.row {
	display: inline-block;
	position: relative;
	bottom: 4px;
}

.db_date {
	width: 80px;
}

.db_treatment {
	width: 160px;
}

.db_foster_name {
	width: 110px;
}

.print_date {
	width: 90px;
	display: inline-block;
	font-size: 16px;
}

.print_treatment {
	margin-left: 20px;
	width: 110px;
	display: inline-block;
	font-size: 16px;
}

._dp input {
	float: right;
}

span.status {
	text-transform:capitalize;
	position: relative;
	left: 30px;
	/*bottom: 16px;*/
	z-index:2;
	padding: 0 10px;
	background-color: white;
	font-family: 'Shadows Into Light', cursive;
	font-size: 32px;
	bottom: 26px;
}

.box_submit {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 6px;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
} .box_submit:active {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}

/* Foster */

#foster_list {
	position: relative;
	top: 100px;
}

/* Treatment */

body._tp .container {
	width: 800px;
	margin: 0 auto;
}

body._tp label {
	width: 150px;
}

body._tp .submit {
	float: none;
	margin-left: 120px;
}

.course_label {
	z-index: 1;
	background: white;
	padding: 6px;
	position: relative;
	width: 90px;
	left: 40px;
	top: 10px;
}

div.course {
	width: 640px;
	border: 1px solid #C0C0C0;
	padding: 30px;
	padding-top: 40px;
	display: inline-block;
	margin-top: -30px;
	margin-bottom: 40px;
}

.course_name {
	margin-left: 40px;
}

input.value {
	width: 50px;
	margin-right: 20px;
}

input.repeat {
	width: 50px;
}

select.units {
	width: 100px;
}

select.repeat {
	width: 160px;
}

span.interval {
	margin-right: 30px;
	width: 30px;
	text-align: right;
	display: inline-block;
}

span.course:hover {
	cursor: pointer;
}

span.missing_course {
	color:#f85056;
} .missing_course:hover {
	cursor: pointer;
}

/* Colors */

.missed_gradient {
	background: #f85056; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff6967 0%, #f85056 44%, #ee3041 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6967), color-stop(44%,#f85056), color-stop(100%,#ee3041)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff6967 0%,#f85056 44%,#ee3041 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff6967 0%,#f85056 44%,#ee3041 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff6967 0%,#f85056 44%,#ee3041 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff6967 0%,#f85056 44%,#ee3041 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6967', endColorstr='#ee3041',GradientType=0 ); /* IE6-9 */
}

.missed_border {
	border-top: 1px solid #f85056;
}

.missed_text {
	color:#f85056;
	background-image:  url('/img/bg_noise.png');
}

.todays_gradient {
	background: #50d689; /* Old browsers */
	background: -moz-linear-gradient(top,  #7aee9a 0%, #50d689 44%, #40dd74 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58cc78), color-stop(44%,#50d689), color-stop(100%,#30cc74)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58cc78 0%,#50d689 44%,#30cc74 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7aee9a 0%,#50d689 44%,#40dd74 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7aee9a 0%,#50d689 44%,#40dd74 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58cc78 0%,#50d689 44%,#30cc74 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aee9a', endColorstr='#40dd74',GradientType=0 ); /* IE6-9 */
}

.today_border {
	border-top: 1px solid #50d689;
}

.today_text {
	color:#50d689;
	background-image:  url('/img/bg_noise.png');
}

.utd_gradient {
	background: #60abf8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.week_border {
	border-top: 1px solid #60abf8;
}

.week_text {
	color: #60abf8;
	background-image:  url('/img/bg_noise.png');
}

.received_text {
	/*color: #708090;*/
	color: #A0A0A0;
}

/* JQuery UI */

div.ui-datepicker {
	font-size: 20px;
	border-radius: 0px;
	border: 1px solid grey;
	background: white;
	font-family: 'Raleway', sans-serif;
} 

a.ui-corner-all:hover {
	background: #416C97;
	border: none;
}

div.ui-widget-header {
	font-family: 'Shadows Into Light', cursive;
	font-size: 26px;
	height: 40px;
	border-radius: 0px;
	border: 1px solid grey;
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}